<!DOCTYPE html>
<html lang="en">
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <title>{% translate 'Product details' %}</title>
</head>
<body>
<h1>{% translate "Детали продукта" %} {{ product.name }}</h1>
    <p>{% translate 'Название' %}: {{ product.name }}</p>
    <p>{% translate 'Описание' %}: {{ product.description }}</p>
    {% blocktranslate count price=product.price %}
            <p>Цена: {{ price }} рубль</p>
        {% plural %}
            <p>Цена: {{ price }} рублей</p>
    {% endblocktranslate %}
    <p>{% translate 'Рейтинг' %}: {{ product.rating }}</p>
    <p>{% translate 'Дата добавления' %}: {{ product.date_added }}</p>
<div>
    <a href="{% url 'shopapp:list_products' %}">{% translate "К списку продуктов" %}</a>
</div>
<div>
    <a href="{% url 'shopapp:update_products' product.pk %}">{% translate "Изменить продукт" %}</a>
</div>
<div>
    <a href="{% url 'shopapp:archive_product' product.pk %}">{% translate 'Архивировать продукт' %}</a>
</div>
</body>
</html>